<!--employee information-->
<div *ngIf="question" class="surface-section md:w-6">
  <div class="font-medium text-3xl text-900 my-3" >Szczegóły pytania</div>
  <ul class="list-none p-0 m-0">

    <li class="flex align-items-center py-1 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">id </div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{question.id}}</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"
                (click)="showEditModal()"></button>
      </div>
    </li>

    <li class="flex align-items-center py-1 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">treść </div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{question.content}}</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"
                (click)="showEditModal()"></button>
      </div>
    </li>

    <li class="flex align-items-center py-1 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">data egzaminu </div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{question.examDate}}</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"
                (click)="showEditModal()"></button>
      </div>
    </li>

    <li class="flex align-items-center py-1 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">poziom trudności </div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{question.difficulty.toLowerCase()}}</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"
                (click)="showEditModal()"></button>
      </div>
    </li>

    <li class="flex align-items-center py-1 px-2 border-top-1 surface-border flex-wrap">
      <div class="text-500 w-6 md:w-2 font-medium">kategorie </div>
      <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{question.categories.toString().toLowerCase().replace(',', ', ').replace('_', ' ')}}</div>
      <div class="w-6 md:w-2 flex justify-content-end">
        <button pButton pRipple label="Edit" icon="pi pi-pencil" class="p-button-text"
                (click)="showEditModal()"></button>
      </div>
    </li>
  </ul>

  <button pButton pRipple label="usuń pytanie" class="p-button-danger m-2" icon="pi pi-trash" (click)="showDeleteQuestionModal()"></button>

  <div class="font-medium text-3xl text-900 my-3" >Odpowiedzi </div>

  <p-table *ngIf="question.answers" styleClass="p-datatable-sm" [value]="question.answers" [tableStyle]="{'min-width': '30rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:10%">Id</th>
        <th style="width:20%">Poprawna</th>
        <th style="width:60%">Treść</th>
        <th style="width: 10%">Akcje</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-answer>
      <tr>
        <td>{{answer.id}}</td>
        <td>{{answer.correct}}</td>
        <td>{{answer.content}}</td>
        <td><button pButton pRipple label="usuń" class="p-button-text" icon="pi pi-trash" (click)="showDeleteAnswerModal()"></button></td>
      </tr>
    </ng-template>
  </p-table>

  <button pButton pRipple label="dodaj odpowiedź" class="p-button-success m-2" icon="pi pi-plus" (click)="showAddAnswerModal()"></button>

</div>

<!--&lt;!&ndash;edit modal&ndash;&gt;-->

<!--<p-dialog *ngIf="updateElement" header="{{modalHeader}}" [(visible)]="updateModalVisible" [style]="{width: '50vw'}" [modal]="true">-->
<!--  <form (ngSubmit)="onSubmit()" class="grid justify-content-center py-2">-->
<!--    <input class="w-12" type="text" pInputText [(ngModel)]="updateElement.value" [ngModelOptions]="{standalone: true}"/>-->
<!--    <p>new password: </p>-->
<!--    <input class="w-12" type="password" pInputText [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}"/>-->
<!--    <button type="submit" pButton pRipple label="Save changes" class="p-button-success w-5 m-2"></button>-->
<!--    <button type="button" pButton pRipple label="Back" class="p-button-danger w-5 m-2"-->
<!--            (click)="updateModalVisible=false"></button>-->
<!--  </form>-->
<!--</p-dialog>-->

<!--&lt;!&ndash;delete modal&ndash;&gt;-->

<!--<p-dialog header="delete employee" [(visible)]="deleteModalVisible" [style]="{width: '50vw'}" [modal]="true">-->
<!--  <div class="grid justify-content-center py-2">-->
<!--    <h3 class="w-12">Are you sure? Delete action is irreversible.</h3>-->
<!--    <button type="button" pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger w-5 m-2" (click)="deleteEmployee()"></button>-->
<!--    <button type="button" pButton pRipple label="Back" icon="pi pi-arrow-left" class="p-button-success w-5 m-2"-->
<!--            (click)="deleteModalVisible=false"></button>-->
<!--  </div>-->
<!--</p-dialog>-->

<!--<p-dialog header="Fail" [(visible)]="failModalVisible" [style]="{width: '50vw'}" [modal]="true">-->
<!--  Something went wrong, please try again.-->
<!--</p-dialog>-->
