<h1> Sorry, this feature is not available yet.</h1>
<!--<div class="grid grid-nogutter w-full justify-content-center">-->
<!--  <div class="flex flex-row w-full justify-content-center">-->
<!--    <p-card class="m-2 col-12 sm:col-10 md:col-8 lg:col-6 m-0 p-0">-->
<!--      <div class="m-0 text-sm">-->
<!--        <div class="m-0">egzamin: <b>{{question.exam[1]}}</b>,  kolekcje: <b *ngFor="let tag of question.tags"> {{tag[1]}} |</b>-->

<!--        </div>-->

<!--      </div>-->

<!--      <p-card class="col-12">-->
<!--        <p>{{question.content}}</p>-->
<!--      </p-card>-->
<!--      <div class="grid justify-content-center">-->
<!--          <button *ngFor="let answer of question.answers" class="col-12 sm:col-8 md:col-6 lg:col-4 m-1" pButton pRipple (click)="checkAnswer(answer[0])">-->
<!--            {{answer[1]}}-->
<!--          </button>-->
<!--      </div>-->
<!--      <div *ngIf="showAnswerCorrect">-->
<!--        <div class="col-12 flex justify-content-center text-green-600 text-3xl font-bold">-->
<!--          DOBRZE-->
<!--        </div>-->
<!--      </div>-->
<!--      <div *ngIf="showAnswerWrong">-->
<!--        <div class="col-12 flex justify-content-center text-red-600 text-3xl font-bold">-->
<!--          ŹLE-->
<!--        </div>-->
<!--        <div class="col-12 flex justify-content-center font-bold">-->
<!--          Poprawna odpowiedź: {{getRightAnswerContent()}}-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="flex flex-wrap justify-content-center m-2">-->
<!--        <button pButton pRipple class="col-12 p-button-info justify-content-center" (click)="nextQuestion()">następne pytanie &nbsp; <i class="pi pi-arrow-right"></i></button>-->
<!--      </div>-->
<!--    </p-card>-->
<!--  </div>-->
<!--</div>-->
